PORT=4000
MONGODB_URI=mongodb://localhost:27017/certificados_sena
JWT_SECRET=super_secret_key_sena_2024
GOOGLE_DRIVE_CLIENT_ID=tu_cliente_id
GOOGLE_DRIVE_CLIENT_SECRET=tu_cliente_secreto
GOOGLE_DRIVE_REDIRECT_URI=