// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of variables

// Your own variables (that are then used by Quasar)
// Verde SENA: #39A900
// Naranja SENA: #FF6B00

$primary   : #39A900
$secondary : #FF6B00
$accent    : #2F2F2F

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
