// FILE: src/quasar-variables.sass

$primary   : #6750A4
$secondary : #39A900
$accent    : #6750A4

$dark      : #1D1D1D

$positive  : #39A900
$negative  : #B3261E
$info      : #2196F3
$warning   : #F2C037
$danger    : #B3261E
